/* общие стили */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2; /* светло-серый фон страницы */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #800000; /* бордовый цвет */
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

main p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* контейнер для карточек */
.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* карточки */
.card {
    background-color: #e0e0e0; /* светло-серый фон карточек */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card h2 {
    color: #800000; /* бордовый цвет заголовков карточек */
    margin-bottom: 10px;
}

.card p {
    color: #555;
    font-size: 1em;
}

/* адаптивность для мобильных устройств */
@media (max-width: 600px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .card {
        max-width: 90%;
    }
}
